/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
src: local("Gilroy"),
        url("./fonts/Gilroy-Medium.eot") format("eot"),
        url("./fonts/Gilroy-Medium.woff") format("woff"),
        url("./fonts/Gilroy-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Gilroy";
    font-style: bold;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Gilroy"),
        url("./fonts/Gilroy-Bold.eot") format("eot"),
        url("./fonts/Gilroy-Bold.woff") format("woff"),
        url("./fonts/Gilroy-Bold.ttf") format("ttf");
}

/* СТИЛИ */

*{
    font-family:"Gilroy";
    color: #070707;
}

header{
    padding: 0 252px;
}

.navigation ul{
    margin: 33px 0 32px 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.navigation li{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    
}

.navigation a{
    color: #828282;
    text-decoration: none;
}

.navigation a:hover{
    color: #070707;
}

.navigation .active{
    color: #070707;
}

hr{
    margin: 0;
    margin-bottom: 40px;
    color: #828282;
}

h1, h2{
    font-weight: 700;
    font-size: 47.3392px;
    line-height: 59px;
}

h2{
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.maininfo{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
}

.maininfo p {
    width: 156px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.mainphoto{
    margin-bottom: 104px;
    height: 387px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 43%;
}

section{
    padding: 0 252px;
}

.section_grey{
    background-color: #F6F6F6;
}

#aboutMe{
    padding-top: 120px;
    padding-bottom: 107px;
}

#aboutMe .content{
    margin-top: 18px;
    text-align: center;
}

#skills{
    padding-top: 91px;
    padding-bottom: 110px;
}

#skills h2{
    margin-bottom: 69px;
}

#skills .descr{
    margin-bottom: 83px;
    text-align: center;
}

#skills .cards{
    display: flex;
    justify-content: space-between;
}

.skillCard{
    width: 166px;
    height: 206px;
}

.skillCard .skill-img{
    margin: auto;
    margin-bottom: 24px;
}

.skillCard p{
    margin: auto;
    width: 79px;
    text-align: center;
    color: #828282;
    font-size: 14px;
    line-height: 17px;
}

.raiting{
    display: flex;
    justify-content: space-between;
}

.star-grey{
    filter: invert(85%) sepia(20%) saturate(0%) hue-rotate(137deg) brightness(102%) contrast(96%)
}

#portfolio{
    padding-top: 113px;
    padding-bottom: 96px;
}

#portfolio h2{
    margin-bottom: 42px;
}

#portfolio img{
    margin-bottom: 42px;
}

#portfolio p{
    margin: auto;
    margin-bottom: 99px;
    text-align: center;
}

#contacts{
    padding-top: 114px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacts h2{
    margin-bottom: 20px;
}

#contacts p{
    text-align: center;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 22px;
}

#contacts button{
    height: 42px;
    width: 180px;
    margin: auto;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 30px;
    margin-bottom: 86px;
}

#contacts .social{
    width: 342px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

footer p{
    margin: auto;
    margin-bottom: 123px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}